@use "../_variables/variables" as v;

@mixin center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin slice{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@mixin after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    
}

@mixin background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin afterPattern{
    content: '';
    position: absolute;
    width: 100%;
    z-index: 50;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@mixin resetSelect{
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
}

@mixin styleBase{
    width: 100%;
    position: relative;
}
@mixin relative{
    position: relative;
    width: 100%;
}
@mixin transitionHover{
    transition: all ease .3s;
}

@mixin scrollStyle{
    &::-webkit-scrollbar {
        width: 6px;       
    }  
    &::-webkit-scrollbar-track {
        background-color: v.$verde-musgo;
    }
    &::-webkit-scrollbar-thumb {
        background-color: v.$verde-salvia-suave;      
        border: 1px solid v.$verde-salvia-suave;  
        border-radius: 0px;
    }
    @include tablet{
        &::-webkit-scrollbar {
            width: 3px;       
        } 
    }
}

@mixin squareImg{

}

/*======================================================================*
    Mixing Media Query
*======================================================================*/

@mixin mobile {
    @media (min-width: 320px){
        @content;
    }
}
@mixin mobile-l{
    @media (min-width: 360px){
        @content;
    }
}
@mixin mobile-xl{
    @media (min-width: 400px){
        @content;
    }
}
@mixin tablet {
    @media (min-width: 768px){
        @content;
    }
}

@mixin tablet-xl {
    @media (min-width: 992px){
        @content;
    }
}

@mixin laptop {
    @media (min-width: 1200px){
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1600px){
        @content;
    }
}

/*======================================================================*
    Mixing Media Query Personalizado
*======================================================================*/

@mixin mediaquery($width) {
    @media (min-width: #{$width}){
        @content;
    }
}


/*======================================================================*
    Tipography
*======================================================================*/


@mixin sora-bold {
    font-family: 'Sora-Bold', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-regular {
    font-family: 'Sora-Regular', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-light {
    font-family: 'Sora-Light', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-extralight {
    font-family: 'Sora-ExtraLight', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-extrabold {
    font-family: 'Sora-ExtraBold', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-medium{
    font-family: 'Sora-Medium', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-regular {
    font-family: 'Sora-Regular', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-semibold {
    font-family: 'Sora-SemiBold', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin sora-thin{
    font-family: 'Sora-Thin', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}

@mixin courgette-regular {
    font-family: 'Courgette-Regular', "BlinkMacSystemFont", "Segoe UI", "Roboto", "Ubuntu", Arial, serif, sans-serif;
}