$blanco: #FFFFFF;
$verde-musgo: #587A63;
$arena-clara:#EFE8DA;
$gris-light: #717C8E;
$verde-salvia-suave: #A4BFA7;
$gris-humo-calido: #6E767B;
$azul-noche: #142C3D;
$azul-profundo: #1F4969;
$azul:#1F4A69;
$gris: #707070;
$gris1:#4B4B4B;
$variante-negro: #000000C1;
$variante-negro2: #00000031;
$variante-negro3:#00000000;
$negro:#000000;
$variante-negro3:#000000E3;
$variante-negro4:#000000E6;
$dorado-calido:#EDC17B;



$text-shadow: 0px 0px 10px rgb(0, 0, 0);

$text-shadow-hover:
0 0 5px rgba(0,0,0,1), /*Sombreado pegado al texto*/
0 0 10px rgba(0,0,0,1), /*Respandor alrededor del texto*/
0 0 15px rgba(0,0,0,1); /*Brillo más extendido*/
