@use "../_mixings/mixings" as m;
@use "../_variables/variables" as v;
@use "../_mixings/textos" as t;
@use "sass:color";
@use "sass:map";

$paddings-left:(
            tablet: calc((100% - (696px)) / 2),
            tablet-xl: calc((100% - (936px)) / 2),
            laptop: calc((100% - (78.4375%)) / 2),
            desktop: calc((100% - (1320px - 24px)) / 2)
        );


.carousel-modals{
    @include m.styleBase;
    background: transparent linear-gradient(180deg, #1F4969 0%, #142C3D 100%) 0% 0% no-repeat padding-box;
    padding: 65px 0;
    @include m.tablet{
        padding: 72px 0;
    }
    &__inner{
        @include m.styleBase;
    }
    &__carousel{
        padding-top: 50px;
        .owl-stage-outer{
            margin-bottom: 50px;
        }
        .owl-dots{
            padding-left: 12px;
            @include m.tablet{
                padding-left: map.get( $paddings-left, tablet);
            }
            @include m.tablet-xl{
                padding-left: map.get( $paddings-left, tablet-xl);
            }
            @include m.laptop{
                padding-left: map.get( $paddings-left, laptop);
            }
            @include m.desktop{
                padding-left: map.get( $paddings-left, desktop);
            }
        }
        .owl-nav{
            padding-right: 12px;
            @include m.tablet{
                padding-right: map.get( $paddings-left, tablet);
            }
            @include m.tablet-xl{
                padding-right: map.get( $paddings-left, tablet-xl);
            }
            @include m.laptop{
                padding-right: map.get( $paddings-left, laptop);
            }
            @include m.desktop{
                padding-right: map.get( $paddings-left, desktop);
            }
        }
    }
    .btn-basic--cta-main-simple{
        padding-top: 35px;
    }
}

.item-iframe{
    width: 100%;
    &__inner{
        border-radius: 18px;
        overflow: hidden;
        @include m.background;
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        margin-bottom: 18px;
        min-height: 350px;
        @include m.tablet{
            padding-bottom: 60.34%;
        }
        @include m.laptop{
            min-height: auto;
        }  
        &::after{
            @include m.after;
            background-color: rgba(31, 73, 105, 0.333);
        }
    }
    &__actionPlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        width: 65px;
        height: 65px;
        a{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;
            img, svg{
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                z-index: 10;
            }
            i{
                z-index: 10;
            }
            .bkg-play{
                width: 90%;
                height: 90%;
                display: inline-block;
                background-color: transparent;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                z-index: 1;
                transition: all ease .3s;
            }
            &:hover{
                .bkg-play{
                    background-color: v.$azul-noche;
                }
            }
        }
        &:hover{
            background-color: white;
            border-radius: 50%;
            
            a{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
            img, svg{
                width: 74%;
                height: 74%;
                display: block;
                position: relative;
                z-index: 10;
            }
        }
        @include m.tablet{
            width: 85px;
            height: 85px;
        }
        &.bkg--white{
            background-color: white;
            border-radius: 50%;
            color: #005473;
            a{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                transition: all ease .3s;
                color: #005473;
                img, svg{
                    width: 74%;
                    height: 74%;
                }
                i{
                    font-size: 40px;
                    color: currentColor;
                    @include m.tablet{
                        font-size: 50px;
                    }
                }
                &:hover{
                    color: #FFFFFF;
                    .bkg-play{
                        background-color: v.$azul-profundo;
                    }
                    img{
                        filter: brightness(0) grayscale(100%) invert(1);

                    }
                    svg, i{
                        fill: currentColor;
                        color: currentColor;
                        path{
                            fill: currentColor;
                        }
                    }
                }
            }
        }
    }
    &__txt{
        padding: 0 12px;
        @include m.tablet{
            padding: 0 20px;
        }
        @include m.tablet-xl{
            padding: 0 26px;
        }
    }
} 


.iframe-style.modal,
.img-style.modal{
    background-color: color.adjust(v.$azul-profundo, $alpha:-0.2);
}
.iframe-style .modal-dialog{
    display: flex;
    align-items: center;
   /*  min-height: calc(100% - 1rem); */
    @include m.tablet{
        max-width: 600px;
        width: auto;
    }
    @include m.tablet-xl{
        max-width: 780px;
    }
    @include m.laptop{
        max-width: 950px;
        /* margin-top: 100px; */
    }
    @include m.desktop{
        max-width: 1250px;
    }
}
.iframe-style .modal-content{
    flex: 1;
    background-color: #ffffff00;
    border: none;
}
.iframe-style .modal-body {
    padding: 0.2rem;
    text-align: center;
    iframe{
        width: 100%;
        display: block;
        height: 350px;
        border-radius: 20px;
        overflow: hidden;
        @include m.mobile{
            height: 550px;
        }
        @include m.tablet{
            height: 400px;
        }
        @include m.tablet-xl{
            height: 450px;
        }
        @include m.laptop{
            height: 550px;
        }
        @include m.desktop{
            height: 700px;
        }
        /* @include mediaquery(1700px){
            height: 800px;
        } */
    }
    /* img{
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
        height: 100%;
        display: inline-block;
        @include m.tablet{
            width: 60%;
        }
    } */
}

.img-style .modal{
    &-dialog{
        display: flex;
        align-items: center;
        /* min-height: calc(100% - 1rem); */
        width: auto;
        @include m.tablet{
            max-width: 600px;
        }
        @include m.tablet-xl{
            max-width: 780px;
        }
        @include m.laptop{
            max-width: 720px;
        }
    }
    &-content{
        flex: 1;
        background-color: #ffffff00;
        border: none;
    }
    &-body{
        img{
            width: 100%;
            border-radius: 20px;
            overflow: hidden;
            height: 100%;
            display: inline-block;
        }
    }
    &-close-action-wrap{

    }
    &-close-action{
        
    }
}

.modal-close-action-wrap{
    width: 100%;
    display: inline-block;
    position: relative;
    height: 58px;
    margin-bottom: 10px;
}
.modal-close-action {
    position: absolute;
    right: 0;
    /* top: -80px; */
    width: 58px;
    height: 58px;
    /*border: 1px solid transparentize($color: $yellow, $amount: 0.8);*/
    border: 1px solid color.adjust(v.$blanco, $alpha: -0.8);
    padding: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    /* border-radius: 10px; */
    background: white;
    transition: all ease .3s;
    .icon{
        svg{
            g{
                path{
                    fill: v.$azul-noche !important;
                }
            }
        }
    }
    &:hover{
        background: color.adjust(v.$azul-noche, $alpha: 0);
        border: 1px solid v.$blanco;
        .icon{
            svg{
                g{
                    path{
                        fill: #FFFFFF !important;
                    }
                }
            }
        }
    }
    
}
.modal-close-action .close,
.modal-close-action .btn-close {
width: 100%;
height: 100%;
padding: 4px;
outline: none;
border: 0;
opacity: 1;
background: url('data:image/svg+xml;charset=UTF-8,%3Csvg width%3D%22256px%22 height%3D%22256px%22 viewBox%3D%220 0 24 24%22 fill%3D%22none%22 xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cg id%3D%22SVGRepo_bgCarrier%22 stroke-width%3D%220%22/%3E%3Cg id%3D%22SVGRepo_tracerCarrier%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22/%3E%3Cg id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath d%3D%22M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z%22 fill%3D%22%23142C3D%22/%3E%3C/g%3E%3C/svg%3E') center / 2em auto no-repeat;
transition: all ease-in-out .3s;
    &:hover{
      background: url('data:image/svg+xml;charset=UTF-8,%3Csvg width%3D%22256px%22 height%3D%22256px%22 viewBox%3D%220 0 24 24%22 fill%3D%22none%22 xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cg id%3D%22SVGRepo_bgCarrier%22 stroke-width%3D%220%22/%3E%3Cg id%3D%22SVGRepo_tracerCarrier%22 stroke-linecap%3D%22round%22 stroke-linejoin%3D%22round%22/%3E%3Cg id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath d%3D%22M20.7457 3.32851C20.3552 2.93798 19.722 2.93798 19.3315 3.32851L12.0371 10.6229L4.74275 3.32851C4.35223 2.93798 3.71906 2.93798 3.32854 3.32851C2.93801 3.71903 2.93801 4.3522 3.32854 4.74272L10.6229 12.0371L3.32856 19.3314C2.93803 19.722 2.93803 20.3551 3.32856 20.7457C3.71908 21.1362 4.35225 21.1362 4.74277 20.7457L12.0371 13.4513L19.3315 20.7457C19.722 21.1362 20.3552 21.1362 20.7457 20.7457C21.1362 20.3551 21.1362 19.722 20.7457 19.3315L13.4513 12.0371L20.7457 4.74272C21.1362 4.3522 21.1362 3.71903 20.7457 3.32851Z%22 fill%3D%22%23FFFFFF%22/%3E%3C/g%3E%3C/svg%3E') center / 2em auto no-repeat;  
    }
}

.modal-close-action .close:focus,
.modal-close-action .btn-close:focus {
-webkit-box-shadow: none;
        box-shadow: none;
}
.modal-close-action .icon{
    width: 30px;
    height: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    svg{
        width: 100%;
        height: 100%;
        object-fit: contain;
        g{
            path{
                fill: #FFFFFF;
            }
        }
    }
}