@use "../_mixings/mixings" as m;
@use "../_variables/variables" as v;
@use "../_mixings/textos" as t;
@use "sass:color";
@use "sass:map";

.experience{
    @include m.styleBase;
    background: #1F4969;
    background: linear-gradient(180deg,rgba(31, 73, 105, 1) 0%, rgba(20, 44, 61, 1) 100%);
    padding: 65px 0;
    &::after{
        @include m.after;
        background-image: url('/assets/backgrounds/Grupo 2087.svg');
        opacity: 2%;
    }
    @include m.tablet{
        padding: 72px 0;
    }
    &__inner{
        @include m.styleBase;
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        gap: 22px 16px;
        padding-top: 50px;
        .experience-item{
            border-radius: 10px;
            border: 1px solid #57778F;
            width: 100%;
            display: inline-flex;
            flex-wrap: wrap;
            @include m.tablet{
                width: calc((100% - 16px) / 2);
            }
            &__icon{
                border-right: 1px solid #57778F;
                border-radius: 0 10px 10px 0;
                width: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 40px;
                img{
                    width: auto;
                    height: auto;
                }
                @include m.tablet-xl{
                    width: 154px;
                }
            }
            &__txt{
                padding: 35px 24px;
                width: calc(100% - 120px);
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                p{
                    @include t.body1;
                    color: v.$blanco;
                    margin-bottom: 0;
                }
                @include m.tablet-xl{
                    width: calc(100% - 154px);
                }
            }
        }
    }
}