@use "../_mixings/mixings" as m;
@use "../_variables/variables" as v;
@use "../_mixings/textos" as t;
@use "sass:color";


.txt-block-branch{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 120px;
        height: 220px;
        top: -135px;
        left: -90px;
        z-index: 1;
        background-image: url('../../assets/corporativo/left-branch-green.svg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        @include m.mobile-l{
            width: 150px;
            height: 250px;
        }
        @include m.tablet{
            top: 51px;
            left: -102px;
        }
        @include m.laptop{
            top: 0;
            left: -14%;
            transform: rotate(10deg);
            opacity: 1;
        }
        @include m.desktop{
            mask-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 30%,
                rgba(0, 0, 0, 0) 100%
            );
        }
        @include m.mediaquery(1800px){
            left: -20% ;
        }
    }
    &::before{
        content: "";
        position: absolute;
        width: 120px;
        height: 220px;
        top: -135px;
        right: -90px;
        z-index: 1;
        background-image: url('../../assets/corporativo/right-branch-green.svg');
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        @include m.mobile-l{
            width: 150px;
            height: 250px;
        }
        @include m.tablet{
            top: 51px;
            right: -102px;
        }
        @include m.laptop{
            top: 0;
            right: -14%;
            transform: rotate(-10deg);
            opacity: 1;
        }
        @include m.desktop{
            mask-image: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 1) 30%,
                rgba(0, 0, 0, 0) 100%
            );
        }
        @include m.mediaquery(1800px){
            right: -20% ;
        }
    }
    .text-block{
        margin-bottom: 70px;
    }
}
.service-cards{
    position: relative;
    margin: 65px 0;
    overflow-x: clip;
    background-color: v.$blanco;
    @include m.tablet{
        margin: 72px 0;
    }
    &__inner{
        /* position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 120px;
            height: 220px;
            top: -135px;
            left: -90px;
            z-index: 1;
            background-image: url('../../assets/corporativo/left-branch-green.svg');
            background-repeat: no-repeat;
            background-size: cover;
            @include m.mobile-l{
                width: 150px;
                height: 250px;
            }
            @include m.tablet{
                top: 51px;
                left: -102px;
            }
            @include m.laptop{
                top: 0;
                left: -14%;
                transform: rotate(10deg);
            }
            @include m.desktop{
                mask-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 30%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
            @include m.mediaquery(1800px){
                left: -20% ;
            }
        }
        &::before{
            content: "";
            position: absolute;
            width: 120px;
            height: 220px;
            top: -135px;
            right: -90px;
            z-index: 1;
            background-image: url('../../assets/corporativo/right-branch-green.svg');
            background-repeat: no-repeat;
            background-size: cover;
            @include m.mobile-l{
                width: 150px;
                height: 250px;
            }
            @include m.tablet{
                top: 51px;
                right: -102px;
            }
            @include m.laptop{
                top: 0;
                right: -14%;
                transform: rotate(-10deg);
            }
            @include m.desktop{
                mask-image: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 1) 30%,
                    rgba(0, 0, 0, 0) 100%
                );
            }
            @include m.mediaquery(1800px){
                right: -20% ;
            }
        }
        .text-block{
            margin-bottom: 70px;
        }
        .text-block.decorative{
            
        } */
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
        gap: 36px 16px;
        .service-item{
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0px 3px 25px #0000001A;
            width: 100%;
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            @include m.tablet{
                width: calc((100% - 16px) / 2);
            }
            @include m.tablet-xl{
                width: calc((100% - 32px) / 3);
            }
            &__ttl{
                padding: 20px 8px;
                text-align: center;
                border-radius: 15px 15px 0 0;
                h3,h4,h5,h6,p{
                    @include t.tituloH3;
                    margin-bottom: 0;
                }
            }
            &__infoWrap{
                padding: 25px 15px;
                border: 1px solid #BAC6CF;
                border-radius: 0 0 15px 15px;
                @include m.tablet{
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    flex-grow: 1;
                    justify-content: space-between;
                }
                @include m.desktop{
                    padding: 25px 25px;
                }
            }
            &__info{
                p{
                    @include m.sora-semibold;
                    @include m.slice;
                    font-size: 16px;
                    letter-spacing: 1.12px;
                    margin-bottom: 30px;
                    @include m.mobile-l{
                        font-size: 18px;
                    }
                    @include m.tablet{
                        font-size: 16px;
                    }
                    @include m.laptop{
                        font-size: 18px;
                    }
                }
                ul{
                    list-style: none;
                    padding-left: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 19px;
                    li{
                        padding-left: 35px;
                        position: relative;
                        @include m.sora-light;
                        &::before{
                            content: "✔";
                            width: 19px;
                            height: 19px;
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            border-radius: 50%;
                            font-size: 14px;
                        }
                    }
                }
            }
            &__actions{
                margin-top: 37px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                gap: 12px;

            }
            &:not(.featured-service){
                .service-item__ttl{
                    background-color: v.$azul-profundo;
                    border: 1px solid v.$azul-profundo;
                    h3,h4,h5,h6,p{
                       color: v.$blanco
                    }
                }
                .service-item__infoWrap{
                    background-color: #F8F8F8;
                }
                .service-item__info{
                    p{
                        color: v.$azul-profundo;
                    }
                    ul{
                        li{
                            color: v.$gris-humo-calido;
                            &::before{
                                background-color: v.$azul-profundo;
                                color: v.$blanco;
                            }
                        }
                    }
                }
                .service-item__actions{
                    .btn--main{
                        a, button{
                            width: 100%;
                            background-color: v.$azul-profundo;
                            color: v.$blanco;
                            border: 1px solid v.$azul-profundo;
                            &:hover,
                            &:active {
                                background-color: darken(v.$azul-profundo, 8%);
                                border-color: darken(v.$azul-profundo, 8%);
                                transform: translateY(-1px);
                            }
                            
                        }
                    }
                    .btn--secondary{
                        a, button{
                            width: 100%;
                            background-color: #F8F8F8;
                            color: v.$azul-profundo;
                            border: 1px solid v.$azul-profundo;
                            &:hover,
                            &:active {
                                background-color: lighten(#F8F8F8, 44%);
                                color: v.$azul-profundo;
                                transform: translateY(-1px);
                            }
                        }
                    }
                }
            }
            &.featured-service{
                .service-item__ttl{
                    background-color: v.$dorado-calido;
                    border: 1px solid v.$dorado-calido;
                    h3,h4,h5,h6,p{
                        color: v.$azul-profundo;
                    }
                }
                .service-item__infoWrap{
                    background-color: v.$azul-profundo;
                }
                .service-item__info{
                    p{
                        color: v.$blanco;
                    }
                    ul{
                        li{
                            color: v.$blanco;
                            &::before{
                                background-color: v.$blanco;
                                color: v.$azul-profundo;
                            }
                        }
                    }
                }
                .service-item__actions{
                    .btn--main{
                        a, button{
                            width: 100%;
                            background-color: v.$dorado-calido;
                            color: v.$azul-noche;
                            border: 1px solid v.$dorado-calido;
                            transition: all ease-in-out .3s;
                            &:hover,
                            &:active{
                                background-color: darken(v.$dorado-calido, 8%);
                                color: v.$azul-noche;
                                border-color: darken(v.$dorado-calido, 8%);
                                transform: translateY(-1px);
                            }
                        }
                    }
                    .btn--secondary{
                        a, button{
                            width: 100%;
                            background-color: v.$azul-profundo;
                            color: v.$blanco;
                            border: 1px solid v.$blanco;
                            transition: all ease-in-out .3s;
                            &:hover,
                            &:active{
                                background-color: lighten(v.$azul-profundo, 6%);
                                color: v.$blanco;
                                border-color: lighten(v.$azul-profundo, 6%);
                                transform: translateY(-1px);
                            }
                        }
                    }
                }
            }
        }
    }
}